<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1 id="bigname"><a href="/">Event Tracker</a></h1>
  <span class="aside">
    <p><a href="/users">Users</a></p>
  </span>
  <span class="bodybox">
    {{{body}}}
  </span>
</body>
</html>