<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>help me</h1>
    <span class="aside">navigation</span>
    {{{body}}}
  </body>
</html>
