body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #82a7ec;
}
a {
  color: #FFFFFF;
}
main {
  display: flex;
  flex-grow: 1;
  flex-direction: row-reverse;
  align-items: space-between;
}
.aside, .wholebox {
  display: flex;
  flex-direction: column;
  margin: 1vw;
  padding: 1vw;
  border-radius: 15px;
}
.aside {
  align-items: flex-start;
  justify-content: space-between;
  background: #3566c0;
}
.wholebox {
  align-items: space-evenly;
  justify-content: space-evenly;
  text-align: center;
  background: #6895e7;
  color: #435885;
  margin: 0 auto;
  width: 70vw;
}
.smallerbox {
  text-align: center;
}
.personInfo {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: space-between;
  margin: 1vw;
  padding: 1vw;
  border-radius: 5px;
  background: #4171ca;
  color: #FFFFFF;
}

@media (max-width: 600px){
  .aside {
    display: none;
  }
  .wholebox {
    margin: 0 auto;
    width: 95vw;
  }
}