<div class="wholebox">
    <h1>Users</h1>
    <ul>
        {{#each users}}
        <div class="smallerbox">
            <h3>{{name}}</h3>
            <a href="/users/{{id}}">
                <p>{{username}}</p>
            </a>
        </div>
        {{/each}}
    </ul>
    <p>
        <a href="/users/new">Add User</a>
    </p>
</div>